<!-- templates/registration/login.html -->
<!DOCTYPE html>
<html LANG="en" dir="ltr">
  <head>
    <font color="White">
    <meta charset=utf-8"">
    <title>ورود</title>
  </head>
  <center>
  <body>
    <h1>ورود</h1>
    <p></p>
    <div></div>
    <p>ورود به سایت</p>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Log In</button>
    </form>
    <center>
      <body background='https://uupload.ir/files/zrmv_mafia-2.jpg'>


    </div>
  </body>
</html>
