<!DOCTYPE html>
<html LANG="en" dir="ltr">
  <head>
    <font color="White">
    <meta charset=utf-8"">
    <title>ثبت نام</title>
  </head>
  <body>
    <center>
    <h1>ثبت نام</h1>
    <p></p>
    <div></div>
    <p>ساخت حساب کاربری</p>
    <form method="post">
        <label for="fname">User name:</label><br>
        <input type="text" id="" name="" value="اسم"><br>
        <label for="lname">Password:</label><br>
        <input type="text" id="" name="" value="رمز"><br><br>
        <button type="submit">Sign Up</button>
    </form>
    <center>
      <body background='https://uupload.ir/files/zrmv_mafia-2.jpg'>

    </div>
  </body>
</html>
